#mapCanvas {
	border: 2px dashed #000000;
	-moz-border-radius: 0px;/*Firefox*/
	-webkit-border-radius: 0px;/*Safari, Chrome*/
	border-radius: 0px;
}

#container {
	width: 100%;
	background: #fff;
}

#header {
	background: #ccc;
	padding: 20px;
}

#header h1 {
	margin: 0;
}

#content-container {
	width: 100%;
	background: #00f
}

#content {
	width: 100%;
	padding: 20px 0;
	background: #555;
}

#content h2 {
	margin: 0;
}

.sidebar {
	width: 15%;
	background: #292;
	float: left;
}

.sidebar h3 {
	margin: 0;
}

#footer {
	width: 100%;
	text-align: center;
	bottom: 0;
	position: fixed;
	clear: left;
	background: #ccc;
	padding: 20px;
	height: 10%;
}